.forms {
  display: flex;
  flex-flow: column nowrap;
  max-width: 500px;
  padding: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
}

.form__input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8em;
}

.form__input span {
  display: none;
  position: absolute;
  bottom: -1.5em;
  color: red;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  font-size: 0.74em;
}

.form__input > label {
  white-space: nowrap;
  margin-bottom: 1em;
}

.forms label {
  font-size: 1rem;
  color: var(--verydarkviolet);
  font-weight: 600;
}

input {
  outline: none;
  border: 0.15rem solid var(--lightgrayishviolet);
  height: 2em;
  width: 100%;
  border-radius: 0.3rem;
  padding: 1em;
  font-size: 1em;
}

input:focus {
  background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(
        to right,
        var(--lineargradiendactiveone),
        var(--lineargradiendactivetwo)
      )
      border-box;
  border-color: transparent;
}

input:invalid[focused="true"] {
  border-color: var(--rederrors);
}

input:invalid[focused="true"] ~ span {
  display: block;
}

.forms__detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1.2em;
}

.form__input > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-button {
  width: 100%;
  border: none;
  height: 3.3em;
  border-radius: 0.7em;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
}

.purple {
  background-color: var(--verydarkviolet);
  color: var(--white);
}

.gray-onhover:hover {
  background: linear-gradient(
    to right,
    var(--lineargradiendactiveone),
    var(--lineargradiendactivetwo)
  );
}

.form__complete {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.form__complete img {
  margin-bottom: 2rem;
}

.form__complete > h2 {
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.form__complete > h2:after {
  content: "!";
  width: 100%;
}

.form__complete > p {
  font-size: normal;
  letter-spacing: normal;
}
