.card {
  color: var(--white);
  width: 28.9em;
  height: 15.9em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  border-radius: 10px;
  padding-left: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: 1s ease-out 0s 1 entrance;
  transition: right 500ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card:hover {
  transform: translate(20px) rotate(3deg);
  transition: transform 300ms ease-in;
}

.card img:first-of-type {
  width: 6em;
  margin-top: 1.7em;
}

.card__details {
  margin-top: auto;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.details__number {
  font-size: 200%;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-align: center;
}

.details__number span:nth-child(4) {
  margin-right: 0.3em;
}

.details__number span:nth-child(8) {
  margin-right: 0.3em;
}

.details__number span:nth-child(12) {
  margin-right: 0.3em;
}

.card__details > footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  width: 100%;
}

.card__details > footer h1,
.card__details > footer small {
  position: absolute;
  font-size: 1em;
  font-weight: 400;
  max-width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  bottom: 1.95em;
}
.card__details > footer small {
  right: 3em;
  bottom: 2em;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.cvc {
  font-size: 1.3em;
  letter-spacing: 0.2ch;
  position: absolute;
  bottom: 5.7em;
  right: 3.5em;
  font-weight: 500;
}

@keyframes entrance {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0px);
  }
}
