.app {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-flow: row;
  overflow-x: hidden;
}

.form-wrapper {
  flex: 1;
  display: grid;
  place-items: center;
  animation: 1s ease-out 0s 1 entrance;
}

picture > img,
picture {
  height: 100%;
  z-index: -1;
}

picture {
  position: absolute;
}

.card-wrapper {
  position: relative;
  min-width: 30vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
  margin-left: 11vw;
}

.card:first-child {
  margin-right: auto;
}

@keyframes appear {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}
