.app {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-flow: row;
}

.form-wrapper {
  flex: 1;
  display: grid;
  place-items: center;
}

picture > img,
picture {
  height: 100%;
  z-index: -1;
}

picture {
  position: absolute;
}
