@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lineargradiendactiveone: hsl(249, 99%, 64%);
  --lineargradiendactivetwo: hsl(278, 94%, 30%);
  --rederrors: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --lightgrayishviolet: hsl(270, 3%, 87%);
  --darkgrayishviolet: hsl(279, 6%, 55%);
  --verydarkviolet: hsl(278, 68%, 11%);
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--white);
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* breaking points */

/* big screens */
@media (min-width: 1550px) {
  .form-wrapper {
    font-size: 1.2rem;
  }
}

/* general mobile */
@media (max-width: 950px) {
  .app {
    flex-flow: column;
    align-items: center;
  }

  .form-wrapper {
    flex: 0;
    place-items: start center;
    margin-top: min(10rem, 15vw);
  }

  picture > img,
  picture {
    width: 100%;
    max-height: max(200px, 7vh);
  }

  .card-wrapper {
    min-height: 200px;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    font-size: 0.55rem;
  }

  .card:first-child {
    margin-right: 0;
  }

  .card:first-child {
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    right: 10%;
    left: 0;
    bottom: -4rem;
  }

  .card:last-child {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

/* galaxy fold */
@media screen and (max-width: 280px) {
  .form-wrapper {
    font-size: 0.7rem;
  }

  .card-wrapper {
    width: 100%;
    font-size: 0.5rem;
  }
  .card {
    left: 0;
    right: 0;
  }

  .card:first-child {
    bottom: -5em;
  }
}

/* small tablet */

@media (device-width: 820px) and (device-height: 1180px) {
  .card-wrapper {
    font-size: 1.7vw;
  }
  .card:first-child {
    top: 9rem;
  }

  picture > img,
  picture {
    width: 100%;
    max-height: 300px;
  }

  .card:last-child {
    top: 1rem;
  }

  .form-wrapper {
    flex: 1;
  }

  .forms {
    font-size: 1.7rem;
  }
}

/* large tablet */

@media (device-width: 768px) and (device-height: 1024px) {
  .card-wrapper {
    font-size: 1.6vw;
  }

  .card:first-child {
    top: 10em;
  }

  .card:last-child {
    top: 1rem;
  }

  .form-wrapper {
    place-items: center;
    flex: 1;
  }
  .forms {
    font-size: 1.5rem;
  }
}

/* big tables */
@media (device-height: 1368px) {
  .card-wrapper {
    font-size: 1.6vw;
  }

  .card:first-child {
    top: 10em;
  }

  .card:last-child {
    top: 1rem;
  }

  .form-wrapper {
    place-items: center;
    flex: 1;
  }
  .forms {
    font-size: 1.5rem;
  }
}

/* this two for ipad and galaxy */

@media (device-height: 720px) and (device-width: 540px) {
  .card-wrapper {
    font-size: 1.8vw;
  }
}

@media (device-width: 912px) and (device-height: 1368px) {
  .card-wrapper {
    font-size: 1.1rem;
  }

  .forms {
    font-size: 2rem;
    max-width: 100%;
  }
}
