@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lineargradiendactiveone: hsl(249, 99%, 64%);
  --lineargradiendactivetwo: hsl(278, 94%, 30%);
  --rederrors: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --lightgrayishviolet: hsl(270, 3%, 87%);
  --darkgrayishviolet: hsl(279, 6%, 55%);
  --verydarkviolet: hsl(278, 68%, 11%);
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1550px) {
  .form-wrapper {
    font-size: 1.2rem;
  }
}

@media (max-width: 950px) {
  .app {
    flex-flow: column;
  }

  .form-wrapper {
    flex: 0;
    place-items: start center;
    margin-top: 10vw;
  }

  picture > img,
  picture {
    width: 100%;
    max-height: 200px;
  }

  .card-wrapper {
    width: 100%;
    min-height: 200px;
    align-items: center;
    margin-left: 0;
    font-size: 0.6rem;
  }

  .card:first-child {
    position: absolute;
    z-index: 1;
    top: 12em;
    left: 20%;
  }
}

@media screen and (max-width: 600px) {
  .card-wrapper {
    font-size: 0.6rem;
  }
}

@media (device-width: 820px) and (device-height: 1180px) {
  .card-wrapper {
    font-size: 1.8vw;
  }
  .card:last-child {
    top: 0.5em;
  }
  .form-wrapper {
    flex: 1;
  }

  .forms {
    font-size: 1.7rem;
  }
}

@media (device-width: 768px) and (device-height: 1024px) {
  .card-wrapper {
    font-size: 1.6vw;
  }

  .card:last-child {
    top: 0.5em;
  }

  .form-wrapper {
    place-items: center;
    flex: 1;
  }
  .forms {
    font-size: 1.5rem;
  }
}
@media (device-height: 1368px) {
  .card-wrapper {
    font-size: 1.6vw;
  }

  .card:last-child {
    top: 0.5em;
  }

  .form-wrapper {
    place-items: center;
    flex: 1;
  }
  .forms {
    font-size: 1.5rem;
  }
}

@media (device-height: 720px) and (device-width: 540px) {
  .card-wrapper {
    font-size: 1.8vw;
  }
}
